@model SpaNewYork.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SoHoaDon" />
            <div class="form-group">
                <label asp-for="NgayHoaDon" class="control-label"></label>
                <input asp-for="NgayHoaDon" class="form-control" />
                <span asp-validation-for="NgayHoaDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhachHang" class="control-label"></label>
                <input asp-for="MaKhachHang" class="form-control" />
                <span asp-validation-for="MaKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label"></label>
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <input asp-for="MaNV" class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanTramChietKhau" class="control-label"></label>
                <input asp-for="PhanTramChietKhau" class="form-control" />
                <span asp-validation-for="PhanTramChietKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTienChietKhauGiamGia" class="control-label"></label>
                <input asp-for="SoTienChietKhauGiamGia" class="form-control" />
                <span asp-validation-for="SoTienChietKhauGiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongThanhToan" class="control-label"></label>
                <input asp-for="TongThanhToan" class="form-control" />
                <span asp-validation-for="TongThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
