@model SpaNewYork.Models.DanhMucHangHoaDichVu

@{
    ViewData["Title"] = "Thêm danh mục hàng hóa & dịch vụ";
}
<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="MaHHDV" class="control-label"></label>
                <input asp-for="MaHHDV" class="form-control" />
                <span asp-validation-for="MaHHDV" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TenHHDV" class="control-label"></label>
                <input asp-for="TenHHDV" class="form-control" />
                <span asp-validation-for="TenHHDV" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DonViTinh" class="control-label"></label>
                <input asp-for="DonViTinh" class="form-control" />
                <span asp-validation-for="DonViTinh" class="text-danger"></span>
            </div>

            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Thêm mới</button>
                hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
